# dependencies
node_modules/

# build outputs
dist/
dist-ssr/
dev-dist/

# yarn (important pentru tine)
.yarn/
.pnp.*
.yarnrc.yml

# env files
.env
.env.*

# vite cache
node_modules/.vite/

# logs (ai deja, ok)
logs
*.log

# OS
.DS_Store

# coverage
coverage/

# misc
*.local